* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

@font-face {
  font-family: bitwise;
  src: url(../assets/fonts/bitwiseFont.ttf);
}

@font-face {
  font-family: usa;
  src: url(../assets/fonts/usaFont.TTF);
}

@font-face {
  font-family: eraser;
  src: url(../assets/fonts/eraserDustFont.ttf);
}

/* ******** TOP NAV *********/

#homeButton {
  margin: 20px;
}

#homeButton a {
  font-size: 16px;
  color: black;
  text-decoration: none;
}

#homeButton:hover {
  cursor: pointer;
  scale: 102%;
  text-shadow: none;
  box-shadow: 2px 2px black;
}

.centerContainer {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  margin-bottom: 5px;
  margin-top: -15px;
}

.centerContainer:hover {
  box-shadow: 2px 2px rgb(88, 88, 88);
}

#style-toggle {
  position: relative;
  font-size: 24px;
  background: transparent;
  background-image: url(../assets/backgrounds/yellowbackground.gif);
  background-size: cover;
}

#style-toggle:hover {
  cursor: pointer;
  text-shadow: 1px 1px rgb(196, 196, 196);
}

/* ******** INITIAL STYLES *********/

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #89cefc, #4f94fc);
  color: #fff;
  padding-top: 4%;
  padding-left: 10%;
}

.container h1 {
  display: flex;
  align-items: center;
  font-size: 36px;
  font-weight: 600;
  text-shadow: 3px 3px rgb(88, 88, 88);
}

.container h1 img {
  width: 60px;
  margin-right: 10px;
}

.container button img {
  width: 25px;
  margin-right: 8px;
}

.container button {
  display: flex;
  align-items: center;
  background: linear-gradient(135deg, #b770fa, #cf9aff);
  color: white;
  font-size: 16px;
  outline: 0;
  border: 0;
  border-radius: 40px;
  padding: 15px 25px;
  margin: 30px 0 20px;
  cursor: pointer;
  box-shadow: 3px 3px rgb(88, 88, 88);
}

.input-box {
  position: relative;
  width: 100%;
  max-width: 500px;
  min-height: 150px;
  background: white;
  color: black;
  padding: 20px;
  margin: 20px 0;
  outline: none;
  border-radius: 5px;
  box-shadow: 3px 3px rgb(88, 88, 88);
}

.input-box img {
    z-index: 2;
  width: 20px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
}

#container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #89cefc, #4f94fc);
  color: #fff;
  padding-top: 4%;
  padding-left: 10%;
}

.notes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

/* ******** STYLE 1 *********/

#container-h1-img.style1 {
  content: url(../assets/icons/noteImg.png);
  width: 60px;
  margin-right: 10px;
}

#container-button.style1 {
  display: flex;
  align-items: center;
  background: linear-gradient(135deg, #b770fa, #cf9aff);
  color: white;
  font-size: 16px;
  outline: 0;
  border: 0;
  border-radius: 40px;
  padding: 15px 25px;
  margin: 30px 0 20px;
  cursor: pointer;
  box-shadow: 3px 3px rgb(88, 88, 88);
}

#container-button-img.style1 {
  width: 25px;
  margin-right: 8px;
}

#container-h1.style1 {
  display: flex;
  align-items: center;
  font-size: 36px;
  font-weight: 600;
  text-shadow: 3px 3px rgb(88, 88, 88);
  color: white;
}

.input-box.style1 {
  position: relative;
  width: 100%;
  max-width: 500px;
  min-height: 150px;
  background: white;
  color: black;
  padding: 20px;
  margin: 20px 0;
  outline: none;
  border-radius: 5px;
  box-shadow: 3px 3px rgb(88, 88, 88);
}

/* ******** STYLE 2 *********/

#container.style2 {
  width: 100%;
  min-height: 100vh;
  background-image: url(../assets/backgrounds/hexBack.gif);
  background-size: 100vw 100vh;
  background-attachment: fixed;
  color: #fff;
  padding-top: 4%;
  padding-left: 10%;
}

#container-h1-img.style2 {
  content: url(../assets/icons/sciNote.png);
  width: 80px;
  margin-right: 10px;
}

#container-button-img.style2 {
  filter: invert(100);
  width: 25px;
  margin-right: 8px;
}

#container-h1.style2 {
  display: flex;
  align-items: center;
  font-family: bitwise;
  font-size: 40px;
  font-weight: lighter;
  text-shadow: 2px 2px black;
  color: white;
}

#container-button.style2, .input-box.style2 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: bitwise;
  font-weight: lighter;
  font-size: 18px;
  opacity: .9;
}

#container-button.style2:before, .input-box.style2:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

#container-button.style2:after, .input-box.style2:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.input-box.style2 > * {
  filter: invert(100);
}

/* ******** STYLE 3 *********/

#container.style3 {
  width: 100%;
  min-height: 100vh;
  background-image: url(../assets/backgrounds/mathbackground3.png);
  background-blend-mode: difference;
  color: #fff;
  padding-top: 4%;
  padding-left: 10%;
}

#container-h1-img.style3 {
  content: url(../assets/icons/tabletMan.png);
  width: 80px;
  margin-right: 10px;
  filter: invert(100);
}

#container-button.style3 {
  display: flex;
  align-items: center;
  font-family: eraser;
  background: linear-gradient(135deg, #ffdb3b, #f17b0c);
  /* background: linear-gradient(135deg, #70eafa, #9aadff); */
  color: white;
  font-size: 16px;
  outline: 0;
  border: 4px solid black;
  border-radius: 255px 38px 225px 45px/25px 255px 35px 255px;
  padding: 15px 25px;
  margin: 30px 0 20px;
  cursor: pointer;
  box-shadow: 3px 3px rgb(88, 88, 88);
}

#container-button-img.style3 {
  width: 25px;
  margin-right: 8px;
}

#container-h1.style3 {
  display: flex;
  align-items: center;
  font-family: eraser;
  font-size: 60px;
  font-weight: 600;
  text-shadow: 2px 2px white;
  color: black;
}

.input-box.style3 {
  position: relative;
  width: 100%;
  max-width: 500px;
  min-height: 150px;
  background: linear-gradient(90deg, #899fff, #4fb9ff, #4fb9ff, #899fff);
  color: black;
  padding: 20px;
  margin: 20px 0;
  outline: none;
  border: 4px solid black;
  border-radius: 220px 40px 100px 25px/25px 400px 35px 200px;
  box-shadow: 3px 3px rgb(88, 88, 88);
  font-family: eraser;
}