body {
  background-color: rgb(44, 44, 44);
  font-family: Arial, Helvetica, sans-serif;
}

#homeButton {
  margin: 20px;
}

#homeButton a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: black;
  text-decoration: none;
}

#homeButton:hover {
  cursor: pointer;
  scale: 102%;
  text-shadow: none;
  box-shadow: 2px 2px black;
}

.scrollContainer {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 50px;
  margin: 20px;
}

.scroll1 {
  width: 600px;
  height: 100px;
  background-color: white;
  overflow: scroll;
}

.scroll2 {
  width: 600px;
  height: 100px;
  color: white;
  background-color: rgb(0, 0, 0);
  overflow: scroll;
  scrollbar-color: gray black;
}

.scroll3 {
  width: 600px;
  height: 100px;
  background-color: white;
  overflow: scroll;
  scrollbar-width: thin;
  scrollbar-color: purple white;
}

.scroll4 {
  width: 600px;
  height: 100px;
  background-color: red;
  overflow: scroll;
}

.scroll4::-webkit-scrollbar {
  background-color: white;
}

.scroll4::-webkit-scrollbar-button {
  background-image: url(../assets/icons/redPowderIcon.png);
  background-size: 18px;
  background-position: center;
  background-repeat: no-repeat;
}

.scroll4::-webkit-scrollbar-thumb {
  background-image: radial-gradient(circle, red, rgb(209, 0, 0), rgb(168, 0, 0));
  border-radius: 10px;
  box-shadow: 0 0 2px 2px black;
}

.scroll5 {
  width: 600px;
  height: 100px;
  background-color: transparent;
  color: white;
  overflow: scroll;
}

.scroll5::-webkit-scrollbar {
  background-color: transparent;
}

.scroll5::-webkit-scrollbar-thumb {
  background-image: radial-gradient(circle, #0044ff, #0033c0, #001d6b);
  background-repeat: no-repeat;
  box-shadow: inset 0px 0px 2px 2px black;
  border-radius: 100px;
}

.scroll5::-webkit-scrollbar-corner {
  background-color: transparent;
}

.scroll6 {
  width: 600px;
  height: 100px;
  background-color: white;
  background-image: linear-gradient(45deg, #00ffff, #64faff, #b3fff5);
  overflow: scroll;
}

.scroll6::-webkit-scrollbar {
  width: 20px;
}

.scroll6.scroll9 {
  background-color: red;
  border-radius: 10px;
  border: 1px solid black;
}

.scroll6::-webkit-scrollbar-thumb {
  background-color: yellow;
  border-radius: 10px;
  border: 1px solid black;
}

.scroll6::-webkit-scrollbar-track {
  background-color: orange;
  border-radius: 10px;
  box-shadow: inset 0px 0px 2px 1px black;
}

.scroll6::-webkit-scrollbar-corner {
  background-color: transparent;
}

.scroll6::-webkit-resizer {
  background-color: purple;
}

.scroll7 {
  width: 600px;
  height: 100px;
  background-color: white;
  overflow: scroll;
}

.scroll7::-webkit-scrollbar {
  width: 20px;
}

.scroll7.scroll9 {
  background-color: blue;
  background-image: radial-gradient(circle, black, white, white);
  border-radius: 10px;
  background-size: 18px;
  background-position: center;
}

.scroll7::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.scroll7::-webkit-scrollbar-track {
  background-color: transparent;
}

.scroll7::-webkit-scrollbar-corner {
  background-color: transparent;
}

.scroll8 {
  width: 600px;
  height: 100px;
  background-color: white;
  overflow: scroll;
}

.scroll8::-webkit-scrollbar {
  width: 30px;
  height: 30px;
  background-color: black;
}

.scroll8::-webkit-scrollbar-thumb {
  background-color: white;
  box-shadow: 0 0 5px 5px rgb(255, 255, 255), inset 0 0 2px 2px black;
}

.scroll8::-webkit-scrollbar-track {
  background-color: transparent;
}

.scroll8::-webkit-scrollbar-corner {
  background-color: black;
}