* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

@font-face {
  font-family: KGAllofMe;
  src: url(/assets/KGAllofMe.ttf);
}

#homeButton {
  margin: 20px;
}

#homeButton a {
  font-size: 16px;
  color: black;
  text-decoration: none;
}

#homeButton:hover {
  cursor: pointer;
  scale: 102%;
  text-shadow: none;
  box-shadow: 2px 2px black;
}

.formContainer {
  margin: 20px;
}

.open-button {
  background-color: black;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  width: 300px;
}

.form-popup {
  display: none;
  border: 3px solid #f1f1f1;
  width: 300px;
  z-index: 9;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form-container input[type="text"],
.form-container input[type="password"] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #04aa6d;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: red;
}

.form-container2 .btn2:hover,
.open-button2:hover {
  opacity: 1;
}

.open-button2:hover {
  box-shadow: 2px 2px black;
}

.open-button2 {
  background-color: #ffc400;
  color: black;
  font-size: 16px;
  font-weight: bold;
  padding: 16px 20px;
  border: 1px solid black;
  cursor: pointer;
  opacity: 0.8;
  width: 300px;
}

.form-popup2 {
  display: none;
  border: 3px solid #f1f1f1;
  width: 300px;
  z-index: 9;
}

.form-container2 {
  max-width: 300px;
  padding: 10px;
  background-color: rgb(184, 224, 255);
}

.form-container2 input[type="text"],
.form-container2 input[type="password"] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container2 input[type="text"]:focus,
.form-container2 input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container2 .btn2 {
  background-color:rgb(0, 129, 188);
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  display: inline;
  width: 48%;
  margin-bottom: 10px;
  opacity: 0.8;
  border: 1px solid black;
}

.form-container2 .cancel2 {
  background-color: black;
}

.form-container2 .btn2:hover,
.open-button2:hover {
  opacity: 1;
  scale: 90%;
}

.open-button2:hover {
  scale: 102%;
  box-shadow: 0 0 10px 5px rgb(255, 195, 77);
}

#form3 {
  max-width: 1200px;
}

#h2-3 {
  font-family: KGAllofMe;
  font-size: 2em;
}

/* style the container */
.container {
  position: relative;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px 0 30px 0;
}

/* style inputs and link buttons */
input,
.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

input:hover,
.btn:hover {
  opacity: 1;
}

/* add appropriate colors to fb, twitter and google buttons */
.fb {
  background-color: #3B5998;
  color: white;
}

.twitter {
  background-color: #55ACEE;
  color: white;
}

.google {
  background-color: #dd4b39;
  color: white;
}

/* style the submit button */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Two-column layout */
.col {
  float: left;
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* vertical line */
.vl {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid #ddd;
  height: 175px;
}

/* text inside the vertical line */
.vl-innertext {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 8px 10px;
}

/* hide some text on medium and large screens */
.hide-md-lg {
  display: none;
}

/* bottom container */
.bottom-container {
  text-align: center;
  background-color: #666;
  border-radius: 0px 0px 4px 4px;
}

#myForm3, #myForm4 {
  position: absolute;
  left: 28px;
  background-color: rgb(175, 175, 175);
  border-radius: 10px;
  max-width: 600px;
  padding: 20px;
  margin-top: 10px;
}

#myForm4 {
  left: 658px;
}

.btn3, .btn4 {
  margin: 10px 10px 0px;
  width: 100px;
}

.btn3:hover, .btn4:hover {
  cursor: pointer;
}

/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  .col {
    width: 100%;
    margin-top: 0;
  }
  /* hide the vertical line */
  .vl {
    display: none;
  }
  /* show the hidden text on small screens */
  .hide-md-lg {
    display: block;
    text-align: center;
  }
  #myForm3 {
    margin-top: 60px;
  }
  #myForm4 {
    margin-top: 60px;
    left: 28px;
  }
}

/* For putting a gif as background image
background-image: url(../assets/bluebackground.gif);
background-size: cover; */