body {
  margin: 0;
padding: 0;
box-sizing: border-box;
}

/* ******** TOP NAV *********/

#homeButton {
  margin: 20px;
}

#homeButton a {
  font-size: 16px;
  color: black;
  text-decoration: none;
}

#homeButton:hover {
  cursor: pointer;
  scale: 102%;
  text-shadow: none;
  box-shadow: 2px 2px black;
}

.centerContainer {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  margin-bottom: 5px;
  margin-top: -15px;
}

.centerContainer:hover {
  box-shadow: 2px 2px rgb(88, 88, 88);
}

#style-toggle {
  position: relative;
  font-size: 24px;
  background: transparent;
  background-image: url(../assets/yellowbackground.gif);
  background-size: cover;
}

#style-toggle:hover {
  cursor: pointer;
  text-shadow: 1px 1px rgb(196, 196, 196);
}

/* ******** GALLERY 1 *********/

.gallery1 {
    margin: 0;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.gallery {
  --size: 100px;
  display: grid;
  grid-template-columns: repeat(6, var(--size));
  grid-auto-rows: var(--size);
  margin-bottom: var(--size);
  place-items: start center;
  gap: 5px;

  &:has(:hover) img:not(:hover),
  &:has(:focus) img:not(:focus) {
    filter: brightness(0.5) contrast(0.5);
  }

  & img {
    object-fit: cover;
    width: calc(var(--size) * 2);
    height: calc(var(--size) * 2);
    clip-path: path(
      "M90,10 C100,0 100,0 110,10 190,90 190,90 190,90 200,100 200,100 190,110 190,110 110,190 110,190 100,200 100,200 90,190 90,190 10,110 10,110 0,100 0,100 10,90Z"
    );
    transition: clip-path 0.25s, filter 0.75s;
    grid-column: auto / span 2;
    border-radius: 5px;

    &:nth-child(5n - 1) {
      grid-column: 2 / span 2;
    }

    &:hover,
    &:focus {
      clip-path: path(
        "M0,0 C0,0 200,0 200,0 200,0 200,100 200,100 200,100 200,200 200,200 200,200 100,200 100,200 100,200 100,200 0,200 0,200 0,100 0,100 0,100 0,100 0,100Z"
      );
      z-index: 1;
      transition: clip-path 0.25s, filter 0.25s;
      cursor: pointer;
    }

    &:focus {
      outline: 1px dashed black;
      outline-offset: -5px;
    }
  }
}

.enlarged-image {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  transform: scale(4);
  clip-path: none;
}

/* ******** GALLERY 2 *********/

.gallery2 {
    display: hidden;
}

/* ******** GALLERY 3 *********/

.gallery3 {
    display: hidden;
}